/* CSS Document */
body{
            background-image: url(imagens/fundo2.jpg);
            background-attachment: fixed;
            background-size: 100%;
            background-repeat: no-repeat;
            background-color: White;
        }
        
         #menu {
            text-align: center;
            margin: 5px 0 5px 0;
            font-size: large;
			       
}

        #navbar {
            display: inline-flex;
        }

        li {
            padding: 25px;
            list-style-type: none;
        }

        a {
            padding: 10px  15px 10px 15px;
            background-color: brown;
            color: white;
            border-radius: 25px;
            text-decoration:none; 
        }

        #formulario {
            background-color: rgb(231, 231, 231);
            padding: 5px 5px 10px 10px;
            margin-right: 520px;
            border-radius: 25px;
			position: relative;
			left: 280px;
        }

        #copyright {
            margin-top: 200px;
            color: black;
            text-align: center;
			text-shadow: 1px 1px 1px #ffffff;
			font-size: 12pt;
			border: 25px;
			padding: 3px;
			background-color: rgb(231, 231, 231);
			margin: 200px -20px -20px 
        }

